<div class="card-group">

  <div class="card">
    <img src="https://picsum.photos/640/480" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tesouro Direto</h5>
      <p class="card-text">Se você é um investidor iniciante e está procurando uma forma segura e acessível de investir seu dinheiro, o Tesouro Direto pode ser uma excelente opção. O Tesouro Direto é um programa do governo brasileiro que permite que qualquer pessoa invista em títulos públicos de forma fácil e conveniente, com valores a partir de R$ 30,00.</p>
      <p class="card-text"><small class="text-muted">Last updated 45 mins ago</small></p>
      <a [routerLink]="['/portfolio']" class="card-link">Acessar</a>
    </div>
  </div>

  <div class="card">
    <img src="https://picsum.photos/640/481" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Por dentros do FIIs</h5>
      <p class="card-text">Os fundos imobiliários têm se tornado uma opção cada vez mais popular entre os investidores que buscam diversificar suas carteiras e obter rendimentos no mercado imobiliário. Ao investir em um fundo imobiliário, você está comprando cotas que representam uma fração de um conjunto de imóveis.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
      <a [routerLink]="['/portfolio']" class="card-link">Acessar</a>
    </div>
  </div>

  <div class="card">
    <img src="https://picsum.photos/639/480" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Renda Fixa Privada</h5>
      <p class="card-text">A renda fixa privada é uma opção de investimento segura e com potencial de rentabilidade para os investidores que buscam diversificar suas carteiras de investimentos. Os títulos de renda fixa privada, como CDB, LCI, LCA e outros, são emitidos por bancos e instituições financeiras, e oferecem diferentes prazos e rentabilidades.</p>
      <p class="card-text"><small class="text-muted">Last updated 40 mins ago</small></p>
      <a [routerLink]="['/portfolio']" class="card-link">Acessar</a>
    </div>
  </div>

</div>
